

.popUpImg {

    @media(max-width:900px) {
        margin-left: 4rem;
    }
    @media(max-width:800px) {
        margin-left: 3rem;
        width:8rem;
        height: 8rem;
    }
    @media(max-width:700px) {
        width: 6rem;
        height: 6rem;
        margin-top: 5px;
    }
    @media(max-width:600px) {
        margin: 0 auto;
    }
    @media(max-width:550px) {
        width: 4rem;
        height: 4rem;
    }
}

.closePopUp {
    
    display: block;
    margin: 5px auto;
    @media(max-width:800px) {
        padding: .5rem;
    }
}

.popUpHeading {
    margin: 0;
    @media(max-width:900px) {
        font-size: 1rem;
    }
    @media(max-width:1000px) {
        font-size: 1rem;
    }
    @media(max-width:700px) {
        font-size: .8rem;
    }
}

.openPopUp {
    @media(max-width:700px) {
        top: -7rem;
    }
    @media(max-width:600px) {
        top: -5rem;
    }
    @media(max-width:550px) {
        top: -4rem;
        width: 40%;
    }
}

.popUpText {
    padding: 1rem;
    @media(max-width:700px) {
        font-size: .8rem;
    }    
}
